
<section class="content h-100">

  <!-- Default box -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Add Employee</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
      <div class="card-body">
        <ng-container [formGroup]="this.addForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Manager">Manager</label>
                <select class="form-control" formControlName="managerId" id="ManagerId">
                  <option value="0">-------- Select ----------</option>
                  <option *ngFor="let manager of managers" value="{{manager.id}}">{{manager.firstName}} {{manager.lastName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Name">Employee ID</label><span class="text-danger"> * </span>
                <input id="employeeId" name="employeeId" formControlName="employeeId" class="form-control" placeholder="Enter Employee ID"/>
                <div *ngIf="this.addForm.get('employeeId')?.errors?.['required'] && !firstLoaded" class="text-danger">Employee ID is required.</div>
              </div>
              <div class="form-group">
                <label for="FirstName">First Name</label><span class="text-danger"> * </span>
                <input id="FirstName" formControlName="firstName" class="form-control" placeholder="Enter First Name" required />
                <div *ngIf="this.addForm.get('firstName')?.errors?.['required'] && !firstLoaded" class="text-danger">First Name is required.</div>
              </div>
              <div class="form-group">
                <label for="LastName">Last Name</label><span class="text-danger"> * </span>
                <input id="LastName" formControlName="lastName" class="form-control" placeholder="Enter Last Name" required />
                <div *ngIf="this.addForm.get('lastName')?.errors?.['required'] && !firstLoaded" class="text-danger">Last Name is required.</div>
              </div>
              <div class="form-group">
                <input id="IsManager" formControlName="isManager" class="form-check-input" type="checkbox" />
                <label for="IsManager">Is Manager</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Roles">Roles</label><span class="text-danger"> * </span>
                <select id="Roles" formControlName="roles" class="form-control" multiple required>
                  <option *ngFor="let role of roles" value="{{role.id}}">{{role.roleName}}</option>
                </select>
                <div *ngIf="this.addForm.get('roles')?.errors?.['required'] && !firstLoaded" class="text-danger">Please select at least one role!</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        <button type="submit" class="btn btn-danger" routerLink="/employee">Cancel</button>
      </div>
  </div>
  <!-- /.card -->

</section>
